[submodule "caniuse"]
	path = caniuse
	url = git@github.com:Fyrd/caniuse.git
[submodule "css-properties"]
	path = css-properties
	url = git@github.com:tonyganch/css-properties.git
[submodule "hacktionary"]
	path = hacktionary
	url = git@github.com:brianloveswords/hacktionary.git
