.content {
  position: relative;
  background-color: white;
  padding: 20px 28px;
  .property-title {
    color: $very-dark-gray;
    margin: 0;
    font-size: 2em;
  }
  .section-header {
    font-size: 1.4em;
  }
  .edit-link-container {
    position: absolute;
    font-size: 12px;
    top: 16px;
    right: 16px;
    a {
      padding: 0 2px;
    }
  }
  .syntax {
    background-color: $very-light-gray;
    padding: 8px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  }
  table.values {
    border: 1px solid $light-gray;
    border-width: 1px 0 0 1px;
    width: 100%;
    tr {
      border-bottom: 1px solid $light-gray;
    }
    th, td {
      text-align: left;
      padding: 8px;
      border-right: 1px solid $light-gray;
    }
    .value-header {
      min-width: 76px;
    }
  }
}
