body {
  background: white;
  color: $very-dark-gray;
  font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Lato, sans-serif;
}

h1 {
  color: $gray;
  font-weight: bold;
  font-size: 36px;
  .site-name-fast {
    color: $dark-gray;
  }
}

input[name=search] {
  font-size: 16px;
  height: 36px;
  padding: 0 8px;
  width: 220px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  &:hover, &:focus {
    @include active-inset-shadow;
  }
  &:hover {
    border-color: $gray;
  }
  &:focus {
    outline: none;
    border-color: $lighter-blue;
  }
}

.results {
  .highlight {
    color: black;
    font-weight: bold;
  }
  .result {
    display: block;
    color: $very-dark-gray;
    text-decoration: none;
    &.active {
      background: $light-gray;
    }
  }
}
