* html .clearfix{
  height: 1%;
  overflow: visible;
}

*+html .clearfix{
  min-height: 1%;
}

.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 1;
}

@media only screen and (max-width: $mobile-width) {
  .hidden-for-mobile {
    display: none;
  }
}
