$very-light-gray: #efefef;
$light-gray: #dadada;
$gray: #bbb;
$dark-gray: #888;
$very-dark-gray: #444;
$blue: #358DA3;
$light-blue: lighten($blue, 10%);
$lighter-blue: lighten($blue, 20%);

$mobile-width: 767px;
