---
title: CSS accelerator property
description: "The accelerator property is an Internet Explorer-specific property that is used to indicate a keyboard shortcut."
---
<h1 class='property-title'>accelerator</h1>
<p class='property-description'>The <code>accelerator</code> property is an Internet Explorer-specific property that is used to indicate a keyboard shortcut.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/accelerator.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Syntax</h2><pre class='syntax'><code>accelerator: true|false;</code></pre><table class='values'><thead><tr>
  <th>Value</th><th>Description</th>
</tr></thead><tbody><tr><td>false</td><td>(Default) Object is not a keyboard shortcut.</td></tr><tr><td>true</td><td>Object is keyboard shortcut.</td></tr></tbody></table><h2 class='section-header'>References</h2><ul class='references'><li><a href='http://msdn.microsoft.com/en-us/library/ie/ms530713(v=vs.85).aspx' rel='nofollow'>Internet Explorer Dev Center</a></ul>
