---
title: "CSS align-self property"
description: ""
---
<h1 class='property-title'>align-self</h1>
<p class='property-description'></p><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/align-content/'>align-content</a></li><li><a href='/align-items/'>align-items</a></li></ul>