---
title: "CSS align-content property"
description: "The CSS align-content property aligns a flex container's lines within the flex container when there is extra space on the cross-axis. This property has no effect on single line flexible boxes."
---
<h1 class='property-title'>align-content</h1>
<p class='property-description'>The CSS <code>align-content</code> property aligns a flex container's lines within the flex container when there is extra space on the cross-axis. This property has no effect on single line flexible boxes.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/align-content.yml'>Edit on GitHub</a>
</div>
<h2 class='section-header'>Syntax</h2>
<pre class='syntax'><code>align-content: flex-start|flex-end|center|space-between|space-around|stretch;</code></pre>
<table class='values'>
  <thead>
    <tr>
      <th class='value-header'>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>flex-start</td>
      <td>Lines are packed starting from the cross-start. Cross-start edge of the first line and cross-start edge of the flex container are flushed together. Each following line is flush with the preceding.</td>
    </tr>
    <tr>
      <td>flex-end</td>
      <td>Lines are packed starting from the cross-end. Cross-end of the last line and cross-end of the flex container are flushed together. Each preceding line is flushed with the following line.</td>
    </tr>
    <tr>
      <td>center</td>
      <td>Lines are packed toward the center of the flex container. The lines are flushed with each other and aligned in the center of the flex container. Space between the cross-start edge of the flex container and first line and between cross-end of the flex container and the last line is the same.</td>
    </tr>
    <tr>
      <td>space-between</td>
      <td>Lines are evenly distributed in the flex container. The spacing is done such as the space between two adjacent items is the same. Cross-start edge and cross-end edge of the flex container are flushed with respectively first and last line edges.</td>
    </tr>
    <tr>
      <td>space-around</td>
      <td>Lines are evenly distributed so that the space between two adjacent lines is the same. The empty space before the first and after the last lines equals half of the space between two adjacent lines.</td>
    </tr>
    <tr>
      <td>stretch</td>
      <td>Lines stretch to use the remaining space. The free-space is split equally between all the lines.</td>
    </tr>
  </tbody>
</table>
<h2 class='section-header'>Related properties</h2>
<ul class='related-properties'>
  <li>
    <a href='/align-items/'>align-items</a>
  </li>
  <li>
    <a href='/align-self/'>align-self</a>
  </li>
</ul>
