---
title: "CSS align-items property"
description: ""
---
<h1 class='property-title'>align-items</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/align-items.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/align-content/'>align-content</a></li><li><a href='/align-self/'>align-self</a></li></ul>
