---
title: animation-timing-function
description: The animation-timing-function CSS property specifies how a CSS animation should progress over the duration of each cycle. The possible values are one or several <span class="lang lang-en">&lt;timing-function&gt; </span>.
---
<h1 class='property-title'>animation-timing-function</h1>
<p class='property-description'>The <code>animation-timing-function</code> CSS property specifies how a CSS animation should progress over the duration of each cycle. The possible values are one or several <span class="lang lang-en"><code>&lt;timing-function&gt;</code>
 </span>.</p>