---
title: CSS animation property
description: "The animation CSS property is a shorthand property for animation-name, animation-duration, animation-timing-function, animation-delay, animation-iteration-count and animation-direction."
---
<h1 class='property-title'>animation</h1>
<p class='property-description'>The <code>animation</code> CSS property is a shorthand property for <code>animation-name</code>, <code>animation-duration</code>, <code>animation-timing-function</code>, <code>animation-delay</code>, <code>animation-iteration-count</code> and <code>animation-direction</code>.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/animation.yml'>Edit on GitHub</a>]</div>
