---
title: animation-iteration-count
description: The animation-iteration-count CSS property defines the number of times an animation cycle should be played before stopping.
---
<h1 class='property-title'>animation-iteration-count</h1>
<p class='property-description'>The <code>animation-iteration-count</code> CSS property defines the number of times an animation cycle should be played before stopping.</p>