---
title: animation-delay
---
<h1 class='property-title'>animation-delay</h1>
<p class='property-description'>The <code>animation-delay</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property specifies when the animation should start. This lets the animation sequence begin some time after it's applied to an element.</p>