---
title: "CSS animation-delay property"
description: "The animation-delay CSS property specifies when the animation should start. This lets the animation sequence begin some time after it's applied to an element."
---
<h1 class='property-title'>animation-delay</h1>
<p class='property-description'>The <code>animation-delay</code> CSS property specifies when the animation should start. This lets the animation sequence begin some time after it's applied to an element.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/animation-delay.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/animation/'>animation</a></li></ul>
