---
title: CSS background-position property
description: The background-position CSS property sets the initial position, relative to the background position layer defined by background-origin for each defined background image.
---
<h1 class='property-title'>background-position</h1>
<p class='property-description'>The<code> background-position </code>CSS property sets the initial position, relative to the background position layer defined by <code>background-origin</code>
 for each defined background image.</p>