---
title: CSS background-size property
description: The background-size CSS property specifies the size of the background images.
---
<h1 class='property-title'>background-size</h1>
<p class='property-description'>The<code> background-size </code>CSS property specifies the size of the background images.</p>