---
title: "CSS background-origin-y property"
description: ""
---
<h1 class='property-title'>background-origin-y</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/background-origin-y.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/background/'>background</a></li><li><a href='/background-origin/'>background-origin</a></li><li><a href='/background-origin-x/'>background-origin-x</a></li></ul>
