---
title: "CSS background-repeat property"
description: "The background-repeat CSS property defines how background images are repeated. A background image can be repeated along the horizontal axis, the vertical axis, both, or not repeated at all. When the repetition of the image tiles doesn't let them exactly cover the background, the way adjustments are done can be controlled by the author: by default, the last image is clipped, but the different tiles can instead be re-sized, or space can be inserted between the tiles."
---
<h1 class='property-title'>background-repeat</h1>
<p class='property-description'>The <code>background-repeat</code> CSS property defines how background images are repeated. A background image can be repeated along the horizontal axis, the vertical axis, both, or not repeated at all. When the repetition of the image tiles doesn't let them exactly cover the background, the way adjustments are done can be controlled by the author: by default, the last image is clipped, but the different tiles can instead be re-sized, or space can be inserted between the tiles.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/background-repeat.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/background/'>background</a></li><li><a href='/background-repeat-x/'>background-repeat-x</a></li><li><a href='/background-repeat-y/'>background-repeat-y</a></li></ul>
