---
title: "CSS background-color property"
description: "The background-color CSS property sets the background color of an element, either through a color value or the keyword transparent."
---
<h1 class='property-title'>background-color</h1>
<p class='property-description'>The <code>background-color</code> CSS property sets the background color of an element, either through a color value or the keyword <code>transparent</code>.</p>