---
title: CSS background-origin property
description: The background-origin CSS property determines the background positioning area, that is the position of the origin of an image specified using the background-image CSS property.
---
<h1 class='property-title'>background-origin</h1>
<p class='property-description'>The<code> background-origin </code>CSS property determines the background positioning area, that is the position of the origin of an image specified using the <code>background-image</code>
 CSS property.</p>