---
title: CSS background property
description: "The background CSS property is a shorthand for setting the individual background values in a single place in the style sheet. background can be used to set the values for one or more of: background-color, background-image, background-position, background-repeat, background-size, and background-attachment."
---
<h1 class='property-title'>background</h1>
<p class='property-description'>The<code> background </code>CSS property is a shorthand for setting the individual background values in a single place in the style sheet.<code> background </code>can be used to set the values for one or more of: <code>background-color</code>, <code>background-image</code>, <code>background-position</code>, <code>background-repeat</code>, <code>background-size</code>, and <code>background-attachment</code>.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/background.yml'>Edit on GitHub</a>]</div>
