---
title: "CSS background-origin property"
description: "The background-origin CSS property determines the background positioning area, that is the position of the origin of an image specified using the background-image CSS property."
---
<h1 class='property-title'>background-origin</h1>
<p class='property-description'>The<code> background-origin </code>CSS property determines the background positioning area, that is the position of the origin of an image specified using the <code>background-image</code> CSS property.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/background-origin.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/background/'>background</a></li><li><a href='/background-origin-x/'>background-origin-x</a></li><li><a href='/background-origin-y/'>background-origin-y</a></li></ul>
