---
title: CSS background-clip property
description: The background-clip CSS property specifies whether an element's background, either the color or image, extends underneath its border.
---
<h1 class='property-title'>background-clip</h1>
<p class='property-description'>The<code> background-clip </code>CSS property specifies whether an element's background, either the color or image, extends underneath its border.</p>