---
title: background-position
---
<h1 class='property-title'>background-position</h1>
<p class='property-description'>The<code> background-position </code>CSS property sets the initial position, relative to the background position layer defined by <code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-origin">background-origin</a></code>
 for each defined background image.</p>