---
title: "CSS background-origin-y property"
description: ""
---
<h1 class='property-title'>background-origin-y</h1>
<p class='property-description'></p><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/background/'>background</a></li><li><a href='/background-origin/'>background-origin</a></li><li><a href='/background-origin-x/'>background-origin-x</a></li></ul>