---
title: "CSS backface-visibility property"
description: "The backface-visibility CSS property determines whether or not the back face of the element is visible when facing the user. The back face of an element always is a transparent background, letting, when visible, a mirror image of the front face be displayed."
---
<h1 class='property-title'>backface-visibility</h1>
<p class='property-description'>The <code>backface-visibility</code> CSS property determines whether or not the back face of the element is visible when facing the user. The back face of an element always is a transparent background, letting, when visible, a mirror image of the front face be displayed.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/backface-visibility.yml'>Edit on GitHub</a>]</div>