---
title: background-attachment
description: If a background-image is specified, the background-attachment CSS property determines whether that image's position is fixed within the viewport, or scrolls along with its containing block.
---
<h1 class='property-title'>background-attachment</h1>
<p class='property-description'>If a <code>background-image</code>
 is specified, the <code>background-attachment</code> CSS property determines whether that image's position is fixed within the viewport, or scrolls along with its containing block.</p>