---
title: "CSS background-composite property"
description: ""
---
<h1 class='property-title'>background-composite</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/background-composite.yml'>Edit on GitHub</a>
</div>
<h2 class='section-header'>Related properties</h2>
<ul class='related-properties'>
  <li>
    <a href='/background/'>background</a>
  </li>
</ul>
