---
title: "CSS background-position property"
description: "The background-position CSS property sets the initial position, relative to the background position layer defined by background-origin for each defined background image."
---
<h1 class='property-title'>background-position</h1>
<p class='property-description'>The<code> background-position </code>CSS property sets the initial position, relative to the background position layer defined by <code>background-origin</code>
 for each defined background image.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/background-position.yml'>Edit on GitHub</a>]</div><h2 class='section-header'>Related properties</h2><ul class='related-properties'><li><a href='/background/'>background</a></li><li><a href='/background-position-x/'>background-position-x</a></li><li><a href='/background-position-y/'>background-position-y</a></li></ul>