---
title: CSS behavior property
description: ""
---
<h1 class='property-title'>behavior</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/behavior.yml'>Edit on GitHub</a>]</div>