---
title: "CSS block-progression property"
description: ""
---
<h1 class='property-title'>block-progression</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/block-progression.yml'>Edit on GitHub</a>]</div>
