---
title: "CSS border-top-width property"
description: "The border-top-width CSS property sets the width of the top border of a box."
---
<h1 class='property-title'>border-top-width</h1>
<p class='property-description'>The <code>border-top-width</code> CSS property sets the width of the top border of a box.</p>