---
title: "CSS border-bottom property"
description: "The border-bottom CSS property is a shorthand that sets the values of border-bottom-color, border-bottom-style, and border-bottom-width. These properties describe the bottom border of elements."
---
<h1 class='property-title'>border-bottom</h1>
<p class='property-description'>The <code>border-bottom</code> CSS property is a shorthand that sets the values of <code>border-bottom-color</code>
, <code>border-bottom-style</code>
, and <code>border-bottom-width</code>
. These properties describe the bottom border of elements.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-bottom.yml'>Edit on GitHub</a>]</div>
