---
title: "CSS border-horizontal-spacing property"
description: ""
---
<h1 class='property-title'>border-horizontal-spacing</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-horizontal-spacing.yml'>Edit on GitHub</a>]</div>