---
title: "CSS border-radius property"
description: "The border-radius CSS property allows Web authors to define how rounded border corners are. The curve of each corner is defined using one or two radii, defining its shape: circle or ellipse."
---
<h1 class='property-title'>border-radius</h1>
<p class='property-description'>The <code>border-radius</code> CSS property allows Web authors to define how rounded border corners are. The curve of each corner is defined using one or two radii, defining its shape: circle or ellipse.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-radius.yml'>Edit on GitHub</a>
</div>
