---
title: CSS border-top-style property
description: The border-top-style CSS property sets the line style of the top border of a box.
---
<h1 class='property-title'>border-top-style</h1>
<p class='property-description'>The <code>border-top-style</code> CSS property sets the line style of the top border of a box.</p>