---
title: "CSS border-left-width property"
description: "The border-left-width CSS property sets the width of the left border of a box."
---
<h1 class='property-title'>border-left-width</h1>
<p class='property-description'>The <code>border-left-width</code> CSS property sets the width of the left border of a box.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-left-width.yml'>Edit on GitHub</a>
</div>
