---
title: "CSS border-bottom-colors property"
description: ""
---
<h1 class='property-title'>border-bottom-colors</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/border-bottom-colors.yml'>Edit on GitHub</a>]</div>
