---
title: "CSS border-top property"
description: "The border-top CSS property is a shorthand that sets the values of border-top-color, border-top-style, and border-top-width. These properties describe the top border of elements."
---
<h1 class='property-title'>border-top</h1>
<p class='property-description'>The <code>border-top</code> CSS property is a shorthand that sets the values of <code>border-top-color</code>, <code>border-top-style</code>, and <code>border-top-width</code>. These properties describe the top border of elements.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-top.yml'>Edit on GitHub</a>
</div>
