---
title: border-right
description: The border-right CSS property is a shorthand that sets the values of border-right-color, border-right-style, and border-right-width. These properties describe the right border of elements.
---
<h1 class='property-title'>border-right</h1>
<p class='property-description'>The <code>border-right</code> CSS property is a shorthand that sets the values of <code>border-right-color</code>
, <code>border-right-style</code>
, and <code>border-right-width</code>
. These properties describe the right border of elements.</p>