---
title: "CSS border-bottom-style property"
description: "The border-bottom-style CSS property sets the line style of the bottom border of a box."
---
<h1 class='property-title'>border-bottom-style</h1>
<p class='property-description'>The <code>border-bottom-style</code> CSS property sets the line style of the bottom border of a box.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-bottom-style.yml'>Edit on GitHub</a>]</div>