---
title: border-left-width
---
<h1 class='property-title'>border-left-width</h1>
<p class='property-description'>The <code>border-left-width</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property sets the width of the left border of a box.</p>