---
title: border-collapse
---
<h1 class='property-title'>border-collapse</h1>
<p class='property-description'>The<code> border-collapse </code>CSS property selects a table's border model. This has a big influence on the look and style of the table cells.</p>