---
title: "CSS border-before-width property"
description: ""
---
<h1 class='property-title'>border-before-width</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-before-width.yml'>Edit on GitHub</a>
</div>
