---
title: border-style
description: The border-style CSS property is a shorthand property for setting the line style for all four sides of the elements border.
---
<h1 class='property-title'>border-style</h1>
<p class='property-description'>The <code>border-style</code> CSS property is a shorthand property for setting the line style for all four sides of the elements border.</p>