---
title: "CSS border-right-color property"
description: "The border-right-color CSS property sets the color of the bottom border of an element. Note that in many cases the shorthand CSS properties&nbsp; border-color or border-right are more convenient and preferable."
---
<h1 class='property-title'>border-right-color</h1>
<p class='property-description'>The<code> border-right-color </code>CSS property sets the color of the bottom border of an element. Note that in many cases the shorthand CSS properties&nbsp; <code>border-color</code>
 or <code>border-right</code>
 are more convenient and preferable.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-right-color.yml'>Edit on GitHub</a>]</div>