---
title: border-bottom-style
---
<h1 class='property-title'>border-bottom-style</h1>
<p class='property-description'>The <code>border-bottom-style</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property sets the line style of the bottom border of a box.</p>