---
title: border-top-width
---
<h1 class='property-title'>border-top-width</h1>
<p class='property-description'>The <code>border-top-width</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property sets the width of the top border of a box.</p>