---
title: "CSS border-spacing property"
description: "The border-spacing CSS property specifies the distance between the borders of adjacent cells (only for the separated borders model). This is equivalent to the cellspacing attribute in presentational HTML, but an optional second value can be used to set different horizontal and vertical spacing."
---
<h1 class='property-title'>border-spacing</h1>
<p class='property-description'>The <code>border-spacing</code> CSS property specifies the distance between the borders of adjacent cells (only for the separated borders model). This is equivalent to the <code>cellspacing</code> attribute in presentational HTML, but an optional second value can be used to set different horizontal and vertical spacing.</p>