---
title: border-color
description: The border-color CSS property is a shorthand for setting the color of the four sides of an element's border: border-top-color, border-right-color, border-bottom-color, border-left-color
---
<h1 class='property-title'>border-color</h1>
<p class='property-description'>The<code> border-color </code>CSS property is a shorthand for setting the color of the four sides of an element's border: <code>border-top-color</code>
, <code>border-right-color</code>
, <code>border-bottom-color</code>
, <code>border-left-color</code>
</p>