---
title: "CSS border-left-style property"
description: "The border-left-style CSS property sets the line style of the left border of a box."
---
<h1 class='property-title'>border-left-style</h1>
<p class='property-description'>The <code>border-left-style</code> CSS property sets the line style of the left border of a box.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-left-style.yml'>Edit on GitHub</a>
</div>
