---
title: CSS border-left-style property
description: The border-left-style CSS property sets the line style of the left border of a box.
---
<h1 class='property-title'>border-left-style</h1>
<p class='property-description'>The <code>border-left-style</code> CSS property sets the line style of the left border of a box.</p>