---
title: "CSS border-image-slice property"
description: ""
---
<h1 class='property-title'>border-image-slice</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/border-image-slice.yml'>Edit on GitHub</a>]</div>
