---
title: "CSS border-left-color property"
description: "The border-left-color CSS property sets the color of the bottom border of an element. Note that in many cases the shorthand CSS properties&nbsp; border-color or border-left are more convenient and preferable."
---
<h1 class='property-title'>border-left-color</h1>
<p class='property-description'>The<code> border-left-color </code>CSS property sets the color of the bottom border of an element. Note that in many cases the shorthand CSS properties&nbsp; <code>border-color</code> or <code>border-left</code> are more convenient and preferable.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-left-color.yml'>Edit on GitHub</a>
</div>
