---
title: "CSS border-bottom-color property"
description: "The border-bottom-color CSS property sets the color of the bottom border of an element. Note that in many cases the shorthand CSS properties&nbsp; border-color or border-bottom are more convenient and preferable."
---
<h1 class='property-title'>border-bottom-color</h1>
<p class='property-description'>The<code> border-bottom-color </code>CSS property sets the color of the bottom border of an element. Note that in many cases the shorthand CSS properties&nbsp; <code>border-color</code>
 or <code>border-bottom</code>
 are more convenient and preferable.</p>