---
title: "CSS border-image-outset property"
description: "The border-image-outset property describes, by which amount <dfn id=\"border-image-area\">border image area</dfn> extends beyond the border box."
---
<h1 class='property-title'>border-image-outset</h1>
<p class='property-description'>The <code>border-image-outset </code>property describes, by which amount <dfn id="border-image-area">border image area</dfn> extends beyond the border box.</p>