---
title: "CSS border-right-width property"
description: "The border-right-width CSS property sets the width of the right border of a box."
---
<h1 class='property-title'>border-right-width</h1>
<p class='property-description'>The <code>border-right-width</code> CSS property sets the width of the right border of a box.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-right-width.yml'>Edit on GitHub</a>
</div>
