---
title: "CSS border-width property"
description: "The border-width CSS property sets the width of the border of a box. Using the shorthand property border is often more convenient."
---
<h1 class='property-title'>border-width</h1>
<p class='property-description'>The<code> border-width </code>CSS property sets the width of the border of a box. Using the shorthand property <code>border</code>
 is often more convenient.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-width.yml'>Edit on GitHub</a>]</div>