---
title: CSS border property
description: "The border CSS property is a shorthand property for setting the individual border property values in a single place in the style sheet. border can be used to set the values for one or more of: border-width, border-style, border-color."
---
<h1 class='property-title'>border</h1>
<p class='property-description'>The <code>border</code> CSS property is a shorthand property for setting the individual border property values in a single place in the style sheet. <code>border</code> can be used to set the values for one or more of: <code>border-width</code>, <code>border-style</code>, <code>border-color</code>.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/border.yml'>Edit on GitHub</a>]</div>
