---
title: border-left-style
---
<h1 class='property-title'>border-left-style</h1>
<p class='property-description'>The <code>border-left-style</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property sets the line style of the left border of a box.</p>