---
title: "CSS border-fit property"
description: ""
---
<h1 class='property-title'>border-fit</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-fit.yml'>Edit on GitHub</a>]</div>
