---
title: "CSS border-left property"
description: "The border-left CSS property is a shorthand that sets the values of border-left-color, border-left-style, and border-left-width. These properties describe the left border of elements."
---
<h1 class='property-title'>border-left</h1>
<p class='property-description'>The <code>border-left</code> CSS property is a shorthand that sets the values of <code>border-left-color</code>, <code>border-left-style</code>, and <code>border-left-width</code>. These properties describe the left border of elements.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/border-left.yml'>Edit on GitHub</a>
</div>
