---
title: "CSS border-vertical-spacing property"
description: ""
---
<h1 class='property-title'>border-vertical-spacing</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/border-vertical-spacing.yml'>Edit on GitHub</a>]</div>
