---
title: "CSS border-right-style property"
description: "The border-right-style CSS property sets the line style of the right border of a box."
---
<h1 class='property-title'>border-right-style</h1>
<p class='property-description'>The <code>border-right-style</code> CSS property sets the line style of the right border of a box.</p>