---
title: "CSS border-image-source property"
description: "The border-image-source CSS property defines the &lt;image&gt; to use instead of the style of the border. If this property is set to none, the style defined by border-style is used instead."
---
<h1 class='property-title'>border-image-source</h1>
<p class='property-description'>The <code>border-image-source</code> CSS property defines the <code>&lt;image&gt;</code> to use instead of the style of the border. If this property is set to <code>none</code>, the style defined by <code>border-style</code> is used instead.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/border-image-source.yml'>Edit on GitHub</a>]</div>
