---
title: "CSS border-collapse property"
description: "The border-collapse CSS property selects a table's border model. This has a big influence on the look and style of the table cells."
---
<h1 class='property-title'>border-collapse</h1>
<p class='property-description'>The<code> border-collapse </code>CSS property selects a table's border model. This has a big influence on the look and style of the table cells.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/border-collapse.yml'>Edit on GitHub</a>]</div>