---
title: CSS bottom property
description: The bottom CSS property participates in specifying the position of <em>positioned elements</em>.
---
<h1 class='property-title'>bottom</h1>
<p class='property-description'>The <code>bottom</code> CSS property participates in specifying the position of <em>positioned elements</em>.</p>