---
title: CSS bottom property
description: "The bottom CSS property participates in specifying the position of <em>positioned elements</em>."
---
<h1 class='property-title'>bottom</h1>
<p class='property-description'>The <code>bottom</code> CSS property participates in specifying the position of <em>positioned elements</em>.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/bottom.yml'>Edit on GitHub</a>]</div>
