---
title: "CSS box-force-broken-image-icon property"
description: ""
---
<h1 class='property-title'>box-force-broken-image-icon</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/box-force-broken-image-icon.yml'>Edit on GitHub</a>]</div>
