---
title: "CSS caption-side property"
description: "The caption-side CSS property positions the content of a table's &lt;caption&gt; on the specified side."
---
<h1 class='property-title'>caption-side</h1>
<p class='property-description'>The <code>caption-side</code> CSS property positions the content of a table's <code>&lt;caption&gt;</code>
 on the specified side.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/caption-side.yml'>Edit on GitHub</a>]</div>