---
title: CSS clear property
description: The clear CSS property specifies whether an element can be next to floating elements that precede it or must be moved down (cleared) below them.
---
<h1 class='property-title'>clear</h1>
<p class='property-description'>The <code>clear</code> CSS property specifies whether an element can be next to floating elements that precede it or must be moved down (cleared) below them.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/clear.yml'>Edit on GitHub</a>
</div>
