---
title: color
description: The color CSS property sets the foreground color of an element's text content
---
<h1 class='property-title'>color</h1>
<p class='property-description'>The <code>color</code> CSS property sets the foreground color of an element's text content</p>