---
title: column-rule-width
---
<h1 class='property-title'>column-rule-width</h1>
<p class='property-description'>The<code> column-rule-width </code>CSS property lets you set the width of the rule drawn between columns in multi-column layouts.</p>