---
title: CSS columns property
description: "The columns CSS property is a shorthand property allowing to set both the column-width and the column-count properties at the same time."
---
<h1 class='property-title'>columns</h1>
<p class='property-description'>The <code>columns</code> CSS property is a shorthand property allowing to set both the <code>column-width</code> and the <code>column-count</code> properties at the same time.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/columns.yml'>Edit on GitHub</a>]</div>
