---
title: "CSS column-rule-width property"
description: "The column-rule-width CSS property lets you set the width of the rule drawn between columns in multi-column layouts."
---
<h1 class='property-title'>column-rule-width</h1>
<p class='property-description'>The<code> column-rule-width </code>CSS property lets you set the width of the rule drawn between columns in multi-column layouts.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/column-rule-width.yml'>Edit on GitHub</a>]</div>
