---
title: "CSS column-gap property"
description: "The column-gap CSS property sets the size of the gap between columns for elements which are specified to display as a multi-column element."
---
<h1 class='property-title'>column-gap</h1>
<p class='property-description'>The <code>column-gap</code> CSS property sets the size of the gap between columns for elements which are specified to display as a multi-column element.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/column-gap.yml'>Edit on GitHub</a>
</div>
