---
title: "CSS column-break-after property"
description: ""
---
<h1 class='property-title'>column-break-after</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/column-break-after.yml'>Edit on GitHub</a>]</div>
