---
title: "CSS column-rule-style property"
description: "The column-rule-style CSS property lets you set the style of the rule drawn between columns in multi-column layouts."
---
<h1 class='property-title'>column-rule-style</h1>
<p class='property-description'>The<code> column-rule-style </code>CSS property lets you set the style of the rule drawn between columns in multi-column layouts.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/column-rule-style.yml'>Edit on GitHub</a>]</div>
