---
title: "CSS column-span property"
description: "The column-span CSS property makes it possible for an element to span across all columns when its value is set to all. An element that spans more than one column is called a <strong>spanning element</strong>."
---
<h1 class='property-title'>column-span</h1>
<p class='property-description'>The <code>column-span</code> CSS property makes it possible for an element to span across all columns when its value is set to <code>all</code>. An element that spans more than one column is called a <strong>spanning element</strong>.</p>