---
title: "CSS column-progression property"
description: ""
---
<h1 class='property-title'>column-progression</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/column-progression.yml'>Edit on GitHub</a>
</div>
