---
title: column-rule
description: In multi-column layouts, the column-rule CSS property specifies a straight line, or "rule", to be drawn between each column. It is a convenient shorthand to avoid setting each of the individual column-rule-* properties separately : column-rule-width, column-rule-style and column-rule-color.
---
<h1 class='property-title'>column-rule</h1>
<p class='property-description'>In multi-column layouts, the <code>column-rule</code> CSS property specifies a straight line, or "rule", to be drawn between each column. It is a convenient shorthand to avoid setting each of the individual <code>column-rule-*</code> properties separately : <code>column-rule-width</code>
, <code>column-rule-style</code>
 and <code>column-rule-color</code>
.</p>