---
title: "CSS column-width property"
description: "The column-width CSS property suggests an optimal column width. This is not a absolute value but a mere hint. Browser will adjust the width of the column around that suggested value, allowing to achieve scalable designs that fit different screen size. Especially in presence of the column-count CSS property which has precedence, to set an exact column width, all length values must be specified. In horizontal text these are width, column-width, column-gap, and column-rule-width."
---
<h1 class='property-title'>column-width</h1>
<p class='property-description'>The <code>column-width</code> CSS property suggests an optimal column width. This is not a absolute value but a mere hint. Browser will adjust the width of the column around that suggested value, allowing to achieve scalable designs that fit different screen size. Especially in presence of the <code>column-count</code> CSS property which has precedence, to set an exact column width, all length values must be specified. In horizontal text these are <code>width</code>, <code>column-width</code>, <code>column-gap</code>, and <code>column-rule-width</code>.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/column-width.yml'>Edit on GitHub</a>]</div>
