---
title: CSS column-count property
description: The column-count CSS property describes the number of columns of the element.
---
<h1 class='property-title'>column-count</h1>
<p class='property-description'>The <code>column-count </code>CSS property describes the number of columns of the element.</p>