---
title: "CSS content-zoom-chaining property"
description: ""
---
<h1 class='property-title'>content-zoom-chaining</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/content-zoom-chaining.yml'>Edit on GitHub</a>]</div>
