---
title: CSS content property
description: "The content CSS property is used with the :before and :after pseudo-elements to generate content in an element."
---
<h1 class='property-title'>content</h1>
<p class='property-description'>The<code> content </code>CSS property is used with the <code>:before</code>
 and <code>:after</code>
 pseudo-elements to generate content in an element.</p>