---
title: CSS content property
description: "The content CSS property is used with the :before and :after pseudo-elements to generate content in an element."
---
<h1 class='property-title'>content</h1>
<p class='property-description'>The<code> content </code>CSS property is used with the <code>:before</code>
 and <code>:after</code>
 pseudo-elements to generate content in an element.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/content.yml'>Edit on GitHub</a>]</div>
