---
title: "CSS counter-reset property"
description: "The counter-reset CSS property is used to reset CSS Counters to a given value."
---
<h1 class='property-title'>counter-reset</h1>
<p class='property-description'>The <code>counter-reset</code> CSS property is used to reset CSS Counters to a given value.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/counter-reset.yml'>Edit on GitHub</a>
</div>
