---
title: "CSS counter-increment property"
description: "The counter-increment CSS property is used to increase the value of CSS Counters by a given value. The counter's value can be reset using the counter-reset CSS property."
---
<h1 class='property-title'>counter-increment</h1>
<p class='property-description'>The <code>counter-increment</code> CSS property is used to increase the value of CSS Counters by a given value. The counter's value can be reset using the <code>counter-reset</code> CSS property.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/counter-increment.yml'>Edit on GitHub</a>]</div>
