---
title: CSS cursor property
description: The cursor CSS property specifies the mouse cursor displayed when the mouse pointer is over an element.
---
<h1 class='property-title'>cursor</h1>
<p class='property-description'>The<code> cursor </code>CSS property specifies the mouse cursor displayed when the mouse pointer is over an element.</p>