---
title: CSS cursor property
description: The cursor CSS property specifies the mouse cursor displayed when the mouse pointer is over an element.
---
<h1 class='property-title'>cursor</h1>
<p class='property-description'>The<code> cursor </code>CSS property specifies the mouse cursor displayed when the mouse pointer is over an element.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/cursor.yml'>Edit on GitHub</a>]</div>