---
title: empty-cells
---
<h1 class='property-title'>empty-cells</h1>
<p class='property-description'>The <code>empty-cells </code>CSS property specifies how user agent should render borders and backgrounds around cells that have no visible content.</p>