---
title: "CSS flex-wrap property"
description: ""
---
<h1 class='property-title'>flex-wrap</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/flex-wrap.yml'>Edit on GitHub</a>]</div>
