---
title: "CSS flex-basis property"
description: ""
---
<h1 class='property-title'>flex-basis</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/flex-basis.yml'>Edit on GitHub</a>]</div>
