---
title: "CSS flex-grow property"
description: ""
---
<h1 class='property-title'>flex-grow</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/flex-grow.yml'>Edit on GitHub</a>]</div>