---
title: "CSS flex-pack property"
description: ""
---
<h1 class='property-title'>flex-pack</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/flex-pack.yml'>Edit on GitHub</a>]</div>
