---
title: font-size-adjust
description: The font-size-adjust CSS property specifies that font size should be chosen based on the height of lowercase letters rather than the height of capital letters.
---
<h1 class='property-title'>font-size-adjust</h1>
<p class='property-description'>The<code> font-size-adjust </code>CSS property specifies that font size should be chosen based on the height of lowercase letters rather than the height of capital letters.</p>