---
title: font
description: The font CSS property is either a shorthand property for setting font-style, font-variant, font-weight, font-size, line-height and font-family, or a way to set the element's font to a system font, using specific keywords.
---
<h1 class='property-title'>font</h1>
<p class='property-description'>The <code>font</code> CSS property is either a shorthand property for setting <code>font-style</code>
, <code>font-variant</code>
, <code>font-weight</code>
, <code>font-size</code>
, <code>line-height</code>
 and <code>font-family</code>
, or a way to set the element's font to a system font, using specific keywords.</p>