---
title: "CSS font-style property"
description: "The font-style CSS property allows italic or oblique faces to be selected within a font-family.<br> "
---
<h1 class='property-title'>font-style</h1>
<p class='property-description'>The<code> font-style </code>CSS property allows<code> italic </code>or<code> oblique </code>faces to be selected within a <code>font-family</code>
.<br> </p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/font-style.yml'>Edit on GitHub</a>]</div>