---
title: "CSS font-weight property"
description: "The font-weight CSS property specifies the weight or boldness of the font. However, some fonts are not available in all weights; some are available only on normal and bold."
---
<h1 class='property-title'>font-weight</h1>
<p class='property-description'>The <code>font-weight</code>
 CSS property specifies the weight or boldness of the font. However, some fonts are not available in all weights; some are available only on <code>normal</code> and <code>bold</code>.</p>