---
title: "CSS font-language-override property"
description: ""
---
<h1 class='property-title'>font-language-override</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/font-language-override.yml'>Edit on GitHub</a>]</div>
