---
title: "CSS font-variant property"
description: "The font-variant CSS property selects a normal, or small-caps face from a font family. Setting font-variant is also possible by using the font shorthand."
---
<h1 class='property-title'>font-variant</h1>
<p class='property-description'>The<code> font-variant </code>CSS property selects a<code> normal</code>, or<code> small-caps </code>face from a font family. Setting<code> font-variant </code>is also possible by using the <code>font</code> shorthand.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/font-variant.yml'>Edit on GitHub</a>
</div>
