---
title: "CSS font-variant-ligatures property"
description: ""
---
<h1 class='property-title'>font-variant-ligatures</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/font-variant-ligatures.yml'>Edit on GitHub</a>
</div>
