---
title: "CSS font-kerning property"
description: ""
---
<h1 class='property-title'>font-kerning</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/font-kerning.yml'>Edit on GitHub</a>]</div>
