---
title: font-stretch
---
<h1 class='property-title'>font-stretch</h1>
<p class='property-description'>The<code> font-stretch </code>CSS property selects a normal, condensed, or extended face from a font family.</p>