---
title: "CSS font-stretch property"
description: "The font-stretch CSS property selects a normal, condensed, or extended face from a font family."
---
<h1 class='property-title'>font-stretch</h1>
<p class='property-description'>The<code> font-stretch </code>CSS property selects a normal, condensed, or extended face from a font family.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/font-stretch.yml'>Edit on GitHub</a>]</div>