---
title: "CSS font-size property"
description: "The font-size CSS property specifies the size of the font. The font size may, in turn, change the size of other items, since it is used to compute the value of em and ex length units."
---
<h1 class='property-title'>font-size</h1>
<p class='property-description'>The <code>font-size</code> CSS property specifies the size of the font. The font size may, in turn, change the size of other items, since it is used to compute the value of <code>em</code> and <code>ex</code> length units.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/font-size.yml'>Edit on GitHub</a>
</div>
