---
title: "CSS font-smoothing property"
description: ""
---
<h1 class='property-title'>font-smoothing</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/font-smoothing.yml'>Edit on GitHub</a>
</div>
