---
title: "CSS grid-column property"
description: ""
---
<h1 class='property-title'>grid-column</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/grid-column.yml'>Edit on GitHub</a>
</div>
