---
title: CSS height property
description: "The height CSS property specifies the height of the content area of an element. The content area is <em>inside</em> the padding, border, and margin of the element."
---
<h1 class='property-title'>height</h1>
<p class='property-description'>The<code> height </code>CSS property specifies the height of the content area of an element. The content area is <em>inside</em> the padding, border, and margin of the element.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/height.yml'>Edit on GitHub</a>
</div>
