---
title: "CSS hyphenate-limit-zone property"
description: ""
---
<h1 class='property-title'>hyphenate-limit-zone</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/hyphenate-limit-zone.yml'>Edit on GitHub</a>
</div>
