---
title: CSS hyphens property
description: "The hyphens CSS property tells the browser how to go about splitting words to improve the layout of text when line-wrapping."
---
<h1 class='property-title'>hyphens</h1>
<p class='property-description'>The <code>hyphens</code> CSS property tells the browser how to go about splitting words to improve the layout of text when line-wrapping.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/hyphens.yml'>Edit on GitHub</a>]</div>
