---
title: "CSS hyphenate-limit-lines property"
description: ""
---
<h1 class='property-title'>hyphenate-limit-lines</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/hyphenate-limit-lines.yml'>Edit on GitHub</a>]</div>
