---
title: "CSS letter-spacing property"
description: "The letter-spacing CSS property specifies spacing behavior between text characters."
---
<h1 class='property-title'>letter-spacing</h1>
<p class='property-description'>The<code> letter-spacing </code>CSS property specifies spacing behavior between text characters.</p>