---
title: line-height
---
<h1 class='property-title'>line-height</h1>
<p class='property-description'>On inline elements, the<code> line-height </code>CSS property specifies the height that is used in the calculation of the line box height.<br>
On block level elements,<code> line-height </code>specifies the minimal height of line boxes within the element.</p>