---
title: "CSS line-height property"
description: "On inline elements, the line-height CSS property specifies the height that is used in the calculation of the line box height.<br>On block level elements, line-height specifies the minimal height of line boxes within the element."
---
<h1 class='property-title'>line-height</h1>
<p class='property-description'>On inline elements, the<code> line-height </code>CSS property specifies the height that is used in the calculation of the line box height.<br>On block level elements,<code> line-height </code>specifies the minimal height of line boxes within the element.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/line-height.yml'>Edit on GitHub</a>
</div>
