---
title: list-style-position
---
<h1 class='property-title'>list-style-position</h1>
<p class='property-description'>The<code> list-style-position </code>CSS property specifies the position of the marker box in the principal block box. It is often more convenient to use the shortcut <span class="lang lang-en"><code><a rel="custom" href="https://developer.mozilla.org/en/CSS/list-style">list-style</a></code>
</span>.</p>