---
title: "CSS list-style property"
description: "The list-style CSS property is a shorthand property for setting list-style-type, list-style-image and list-style-position."
---
<h1 class='property-title'>list-style</h1>
<p class='property-description'>The<code> list-style </code>CSS property is a shorthand property for setting <code>list-style-type</code>
, <code>list-style-image</code>
 and <code>list-style-position</code>
.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/list-style.yml'>Edit on GitHub</a>]</div>
