---
title: "CSS list-style-type property"
description: "The list-style-type CSS property specifies appearance of a list item element. As it is the only one who defaults to display:list-item, this is usually a &lt;li&gt; element, but can be any element with this display value."
---
<h1 class='property-title'>list-style-type</h1>
<p class='property-description'>The<code> list-style-type </code>CSS property specifies appearance of a list item element. As it is the only one who defaults to <code>display:list-item</code>, this is usually a <code>&lt;li&gt;</code> element, but can be any element with this <code>display</code> value.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/list-style-type.yml'>Edit on GitHub</a>
</div>
