---
title: list-style-image
---
<h1 class='property-title'>list-style-image</h1>
<p class='property-description'>The<code> list-style-image </code>CSS property sets the image that will be used as the list item marker. It is often more convenient to use the shortcut <code><a rel="custom" href="https://developer.mozilla.org/en/CSS/list-style">list-style</a></code>
.</p>