---
title: "CSS list-style-image property"
description: "The list-style-image CSS property sets the image that will be used as the list item marker. It is often more convenient to use the shortcut list-style."
---
<h1 class='property-title'>list-style-image</h1>
<p class='property-description'>The<code> list-style-image </code>CSS property sets the image that will be used as the list item marker. It is often more convenient to use the shortcut <code>list-style</code>
.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/list-style-image.yml'>Edit on GitHub</a>]</div>