---
title: "CSS logical-width property"
description: ""
---
<h1 class='property-title'>logical-width</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/logical-width.yml'>Edit on GitHub</a>
</div>
