---
title: CSS margin property
description: "The margin CSS property sets the margin for all four sides. It is a shorthand to avoid setting each side separately with the other margin properties:<br>margin-top, margin-right, margin-bottom and margin-left.<br>Negative value are also allowed."
---
<h1 class='property-title'>margin</h1>
<p class='property-description'>The<code> margin </code>CSS property sets the margin for all four sides. It is a shorthand to avoid setting each side separately with the other margin properties:<br>
<code>margin-top</code>
, <code>margin-right</code>
, <code>margin-bottom</code>
 and <code>margin-left</code>
.<br>
Negative value are also allowed.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/margin.yml'>Edit on GitHub</a>]</div>