---
title: "CSS margin-bottom property"
description: "The margin-bottom CSS property of an element sets the margin space required on the bottom of an element. A negative value is also allowed."
---
<h1 class='property-title'>margin-bottom</h1>
<p class='property-description'>The <code>margin-bottom</code> CSS property of an element sets the margin space required on the bottom of an element. A negative value is also allowed.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/margin-bottom.yml'>Edit on GitHub</a>]</div>