---
title: margin-left
---
<h1 class='property-title'>margin-left</h1>
<p class='property-description'>The <code>margin-left</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property of an element sets the margin space required on the left side of an element. A negative value is also allowed.</p>