---
title: CSS margin-top property
description: The margin-top CSS property of an element sets the margin space required on the top of an element. A negative value is also allowed.
---
<h1 class='property-title'>margin-top</h1>
<p class='property-description'>The<code> margin-top </code>CSS property of an element sets the margin space required on the top of an element. A negative value is also allowed.</p>