---
title: "CSS margin-left property"
description: "The margin-left CSS property of an element sets the margin space required on the left side of an element. A negative value is also allowed."
---
<h1 class='property-title'>margin-left</h1>
<p class='property-description'>The <code>margin-left</code> CSS property of an element sets the margin space required on the left side of an element. A negative value is also allowed.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/margin-left.yml'>Edit on GitHub</a>]</div>
