---
title: margin-right
description: The margin-right CSS property of an element sets the margin space required on the right side of an element. A negative value is also allowed.
---
<h1 class='property-title'>margin-right</h1>
<p class='property-description'>The <code>margin-right</code> CSS property of an element sets the margin space required on the right side of an element. A negative value is also allowed.</p>