---
title: "CSS marquee-direction property"
description: ""
---
<h1 class='property-title'>marquee-direction</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/marquee-direction.yml'>Edit on GitHub</a>]</div>
