---
title: "CSS mask-clip property"
description: ""
---
<h1 class='property-title'>mask-clip</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/mask-clip.yml'>Edit on GitHub</a>
</div>
