---
title: "CSS mask-box-image-width property"
description: ""
---
<h1 class='property-title'>mask-box-image-width</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/mask-box-image-width.yml'>Edit on GitHub</a>]</div>