---
title: "CSS max-width property"
description: "The max-width CSS property is used to set the maximum width of a given element. It prevents the used value of the width property from becoming larger than the value specified for max-width."
---
<h1 class='property-title'>max-width</h1>
<p class='property-description'>The<code> max-width </code>CSS property is used to set the maximum width of a given element. It prevents the used value of the <code>width</code> property from becoming larger than the value specified for<code> max-width</code>.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/max-width.yml'>Edit on GitHub</a>]</div>
