---
title: "CSS max-logical-width property"
description: ""
---
<h1 class='property-title'>max-logical-width</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/max-logical-width.yml'>Edit on GitHub</a>
</div>
