---
title: "CSS max-height property"
description: "The max-height CSS property is used to set the maximum height of a given element. It prevents the used value of the height property from becoming larger than the value specified for max-height."
---
<h1 class='property-title'>max-height</h1>
<p class='property-description'>The<code> max-height </code>CSS property is used to set the maximum height of a given element. It prevents the used value of the <code>height</code>
 property from becoming larger than the value specified for<code> max-height</code>.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/max-height.yml'>Edit on GitHub</a>]</div>