---
title: max-width
---
<h1 class='property-title'>max-width</h1>
<p class='property-description'>The<code> max-width </code>CSS property is used to set the maximum width of a given element. It prevents the used value of the <code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code>
 property from becoming larger than the value specified for<code> max-width</code>.</p>