---
title: max-width
description: The max-width CSS property is used to set the maximum width of a given element. It prevents the used value of the width property from becoming larger than the value specified for max-width.
---
<h1 class='property-title'>max-width</h1>
<p class='property-description'>The<code> max-width </code>CSS property is used to set the maximum width of a given element. It prevents the used value of the <code>width</code>
 property from becoming larger than the value specified for<code> max-width</code>.</p>