---
title: min-height
description: The min-height CSS property is used to set the minimum height of a given element. It prevents the used value of the height property from becoming smaller than the value specified for min-height.
---
<h1 class='property-title'>min-height</h1>
<p class='property-description'>The<code> min-height </code>CSS property is used to set the minimum height of a given element. It prevents the used value of the <code>height</code>
 property from becoming smaller than the value specified for<code> min-height</code>.</p>