---
title: "CSS min-logical-height property"
description: ""
---
<h1 class='property-title'>min-logical-height</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/min-logical-height.yml'>Edit on GitHub</a>]</div>
