---
title: "CSS nav-index property"
description: ""
---
<h1 class='property-title'>nav-index</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/nav-index.yml'>Edit on GitHub</a>]</div>
