---
title: "CSS nbsp-mode property"
description: ""
---
<h1 class='property-title'>nbsp-mode</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/nbsp-mode.yml'>Edit on GitHub</a>]</div>
