---
title: CSS opacity property
description: "The opacity CSS property specifies the transparency of an element, that is, the degree to which the background behind the element is overlaid."
---
<h1 class='property-title'>opacity</h1>
<p class='property-description'>The <code>opacity</code> CSS property specifies the transparency of an element, that is, the degree to which the background behind the element is overlaid.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/opacity.yml'>Edit on GitHub</a>
</div>
