---
title: CSS orphans property
description: "The orphans CSS property refers to the <em>minimum</em> number of lines in a block container that must be left at the bottom of the page.&nbsp; This property is normally used to control how page breaks occur."
---
<h1 class='property-title'>orphans</h1>
<p class='property-description'>The <code>orphans</code> CSS property refers to the <em>minimum</em> number of lines in a block container that must be left at the bottom of the page.&nbsp; This property is normally used to control how page breaks occur.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/orphans.yml'>Edit on GitHub</a>]</div>