---
title: "CSS outline-color property"
description: "The outline-color CSS property sets the color of the outline of an element. An outline is a line that is drawn around elements, outside the border edge, to make the element stand out."
---
<h1 class='property-title'>outline-color</h1>
<p class='property-description'>The<code> outline-color </code>CSS property sets the color of the outline of an element. An outline is a line that is drawn around elements, outside the border edge, to make the element stand out.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/outline-color.yml'>Edit on GitHub</a>
</div>
