---
title: "CSS outline-width property"
description: "The outline-width CSS property is used to set the width of the outline of an element. An outline is a line that is drawn around elements, outside the border edge, to make the element stand out:"
---
<h1 class='property-title'>outline-width</h1>
<p class='property-description'>The<code> outline-width </code>CSS property is used to set the width of the outline of an element. An outline is a line that is drawn around elements, outside the border edge, to make the element stand out:</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/outline-width.yml'>Edit on GitHub</a>]</div>