---
title: "CSS outline-offset property"
description: "The outline-offset CSS property is used to set space between an outline and the edge or border of an element. An outline is a line that is drawn around elements, outside the border edge."
---
<h1 class='property-title'>outline-offset</h1>
<p class='property-description'>The<code> outline-offset </code>CSS property is used to set space between an <code>outline</code> and the edge or border of an element. An outline is a line that is drawn around elements, outside the border edge.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/outline-offset.yml'>Edit on GitHub</a>]</div>
