---
title: "CSS outline-radius-topright property"
description: ""
---
<h1 class='property-title'>outline-radius-topright</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/outline-radius-topright.yml'>Edit on GitHub</a>
</div>
