---
title: "CSS overflow-x property"
description: "The overflow-x CSS property specifies whether to clip content, render a scroll bar or display overflow content of a block-level element, when it overflows at the left and right edges."
---
<h1 class='property-title'>overflow-x</h1>
<p class='property-description'>The <code>overflow-x </code>CSS property specifies whether to clip content, render a scroll bar or display overflow content of a block-level element, when it overflows at the left and right edges.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/overflow-x.yml'>Edit on GitHub</a>
</div>
