---
title: CSS overflow property
description: The overflow CSS property specifies whether to clip content, render scroll bars or display overflow content of a block-level element.
---
<h1 class='property-title'>overflow</h1>
<p class='property-description'>The<code> overflow </code>CSS property specifies whether to clip content, render scroll bars or display overflow content of a block-level element.</p>