---
title: "CSS overflow-y property"
description: ""
---
<h1 class='property-title'>overflow-y</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/overflow-y.yml'>Edit on GitHub</a>]</div>