---
title: CSS padding property
description: The padding CSS property sets the required padding space on all sides of an element. The padding area is the space between the content of the element and its border. Negative values are not allowed.
---
<h1 class='property-title'>padding</h1>
<p class='property-description'>The<code> padding </code>CSS property sets the required padding space on all sides of an element. The padding area is the space between the content of the element and its border. Negative values are not allowed.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/padding.yml'>Edit on GitHub</a>
</div>
