---
title: "CSS padding-right property"
description: "The padding-right CSS property of an element sets the padding space required on the right side of an element. The padding area is the space between the content of the element and its border. Negative values are not allowed."
---
<h1 class='property-title'>padding-right</h1>
<p class='property-description'>The <code>padding-right</code> CSS property of an element sets the padding space required on the right side of an element. The padding area is the space between the content of the element and its border. Negative values are not allowed.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/padding-right.yml'>Edit on GitHub</a>]</div>
