---
title: "CSS padding-after property"
description: ""
---
<h1 class='property-title'>padding-after</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/padding-after.yml'>Edit on GitHub</a>]</div>
