---
title: "CSS padding-start property"
description: ""
---
<h1 class='property-title'>padding-start</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/padding-start.yml'>Edit on GitHub</a>]</div>