---
title: "CSS padding-left property"
description: "The padding-left CSS property of an element sets the padding space required on the left side of an element. The padding area is the space between the content of the element and it's border. A negative value is not allowed."
---
<h1 class='property-title'>padding-left</h1>
<p class='property-description'>The <code>padding-left</code> CSS property of an element sets the padding space required on the left side of an element. The padding area is the space between the content of the element and it's border. A negative value is not allowed.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/padding-left.yml'>Edit on GitHub</a>]</div>
