---
title: "CSS padding-top property"
description: "The padding-top CSS property of an element sets the padding space required on the top of an element. The padding area is the space between the content of the element and it's border. A negative values is not allowed."
---
<h1 class='property-title'>padding-top</h1>
<p class='property-description'>The <code>padding-top</code> CSS property of an element sets the padding space required on the top of an element. The padding area is the space between the content of the element and it's border. A negative values is not allowed.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/padding-top.yml'>Edit on GitHub</a>]</div>