---
title: "CSS page-break-inside property"
description: "The page-break-inside CSS property adjusts page breaks <em>inside</em> the current element."
---
<h1 class='property-title'>page-break-inside</h1>
<p class='property-description'>The <code>page-break-inside</code> CSS property adjusts page breaks <em>inside</em> the current element.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/page-break-inside.yml'>Edit on GitHub</a>
</div>
