---
title: "CSS page-break-before property"
description: "The page-break-before CSS property adjusts page breaks <em>before</em> the current element."
---
<h1 class='property-title'>page-break-before</h1>
<p class='property-description'>The <code>page-break-before</code> CSS property adjusts page breaks <em>before</em> the current element.</p>