---
title: "CSS page-break-after property"
description: "The page-break-after CSS property adjusts page breaks <em>after</em> the current element."
---
<h1 class='property-title'>page-break-after</h1>
<p class='property-description'>The <code>page-break-after</code> CSS property adjusts page breaks <em>after</em> the current element.</p>