---
title: "CSS perspective-origin property"
description: "The perspective-origin CSS property determines the position the viewer is looking at. It is used as the <em>vanishing point</em> by the perspective property."
---
<h1 class='property-title'>perspective-origin</h1>
<p class='property-description'>The <code>perspective-origin</code> CSS property determines the position the viewer is looking at. It is used as the <em>vanishing point</em> by the <code>perspective</code> property.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/perspective-origin.yml'>Edit on GitHub</a>
</div>
