---
title: "CSS pointer-events property"
description: ""
---
<h1 class='property-title'>pointer-events</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/pointer-events.yml'>Edit on GitHub</a>
</div>
