---
title: position
description: The position CSS property chooses alternative rules for positioning elements, designed to be useful for scripted animation effects.
---
<h1 class='property-title'>position</h1>
<p class='property-description'>The<code> position </code>CSS property chooses alternative rules for positioning elements, designed to be useful for scripted animation effects.</p>