---
title: "CSS progress-appearance property"
description: ""
---
<h1 class='property-title'>progress-appearance</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/progress-appearance.yml'>Edit on GitHub</a>
</div>
