---
title: CSS quotes property
description: The quotes CSS property indicates how user agents should render quotation marks.
---
<h1 class='property-title'>quotes</h1>
<p class='property-description'>The <code>quotes</code> CSS property indicates how user agents should render quotation marks.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/quotes.yml'>Edit on GitHub</a>]</div>
