---
title: quotes
---
<h1 class='property-title'>quotes</h1>
<p class='property-description'>The <code>quotes</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property indicates how user agents should render quotation marks.</p>