---
title: CSS quotes property
description: The quotes CSS property indicates how user agents should render quotation marks.
---
<h1 class='property-title'>quotes</h1>
<p class='property-description'>The <code>quotes</code> CSS property indicates how user agents should render quotation marks.</p>