---
title: CSS resize property
description: The resize CSS property lets you control the resizability of an element.
---
<h1 class='property-title'>resize</h1>
<p class='property-description'>The <code>resize</code> CSS property lets you control the resizability of an element.</p>