---
title: "CSS rtl-ordering property"
description: ""
---
<h1 class='property-title'>rtl-ordering</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/rtl-ordering.yml'>Edit on GitHub</a>]</div>
