---
title: "CSS script-size-multiplier property"
description: ""
---
<h1 class='property-title'>script-size-multiplier</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/script-size-multiplier.yml'>Edit on GitHub</a>]</div>
