---
title: "CSS scrollbar-3dlight-color property"
description: ""
---
<h1 class='property-title'>scrollbar-3dlight-color</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/scrollbar-3dlight-color.yml'>Edit on GitHub</a>]</div>
