---
title: "CSS scrollbar-arrow-color property"
description: ""
---
<h1 class='property-title'>scrollbar-arrow-color</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/scrollbar-arrow-color.yml'>Edit on GitHub</a>]</div>
