---
title: "CSS scrollbar-shadow-color property"
description: ""
---
<h1 class='property-title'>scrollbar-shadow-color</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/scrollbar-shadow-color.yml'>Edit on GitHub</a>]</div>
