---
title: "CSS scroll-snap-points-x property"
description: ""
---
<h1 class='property-title'>scroll-snap-points-x</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/scroll-snap-points-x.yml'>Edit on GitHub</a>]</div>
