<?xml version="1.0" encoding="UTF-8"?>
- host = "http://cssfast.com/"
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc= host
    %lastmod= DateTime.now.to_time.iso8601
    %changefreq weekly
