---
title: "CSS tab-size property"
description: "The tab-size CSS property is used to customize the width of a tab (U+0009) character."
---
<h1 class='property-title'>tab-size</h1>
<p class='property-description'>The <code>tab-size</code> CSS property is used to customize the width of a tab (<code>U+0009</code>) character.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/tab-size.yml'>Edit on GitHub</a>]</div>