---
title: "CSS table-layout property"
description: "The table-layout CSS property defines the algorithm to be used to layout the table cells, rows, and columns."
---
<h1 class='property-title'>table-layout</h1>
<p class='property-description'>The <code>table-layout</code> CSS property defines the algorithm to be used to layout the table cells, rows, and columns.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/table-layout.yml'>Edit on GitHub</a>]</div>
