---
title: "CSS tap-highlight-color property"
description: ""
---
<h1 class='property-title'>tap-highlight-color</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/tap-highlight-color.yml'>Edit on GitHub</a>]</div>
