---
title: "CSS text-decoration-style property"
description: "The text-decoration-style CSS property defines the style of the lines specified by text-decoration-line. The style applies to all lines, there is no way to define different style for each of the line defined by text-decoration-line."
---
<h1 class='property-title'>text-decoration-style</h1>
<p class='property-description'>The <code>text-decoration-style</code> CSS property defines the style of the lines specified by <code>text-decoration-line</code>. The style applies to all lines, there is no way to define different style for each of the line defined by <code>text-decoration-line</code>.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/text-decoration-style.yml'>Edit on GitHub</a>
</div>
