---
title: "CSS text-align-last property"
description: "The text-align-last CSS property describes how the last line of a block or a line right before a forced line break is aligned."
---
<h1 class='property-title'>text-align-last</h1>
<p class='property-description'>The <code>text-align-last</code> CSS property describes how the last line of a block or a line right before a forced line break is aligned.</p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/text-align-last.yml'>Edit on GitHub</a>
</div>
