---
title: "CSS text-line-through-style property"
description: ""
---
<h1 class='property-title'>text-line-through-style</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/text-line-through-style.yml'>Edit on GitHub</a>]</div>
