---
title: "CSS text-overline-width property"
description: ""
---
<h1 class='property-title'>text-overline-width</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/text-overline-width.yml'>Edit on GitHub</a>]</div>