---
title: "CSS text-combine property"
description: ""
---
<h1 class='property-title'>text-combine</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/text-combine.yml'>Edit on GitHub</a>]</div>
