---
title: text-transform
---
<h1 class='property-title'>text-transform</h1>
<p class='property-description'>The <code>text-transform</code> CSS property specifies how to capitalize an element's text. It can be used to make text appear in all-uppercase or all-lowercase, or with each word capitalized.</p>