---
title: text-decoration-line
---
<h1 class='property-title'>text-decoration-line</h1>
<p class='property-description'>The <code>text-decoration-line</code> CSS property sets what kind of line decorations are added to an element.</p>