---
title: "CSS text-shadow property"
description: "The text-shadow CSS property adds shadows to text. It accepts a comma-separated list of shadows to be applied to the text and text-decorations of the element."
---
<h1 class='property-title'>text-shadow</h1>
<p class='property-description'>The<code> text-shadow </code>CSS property adds shadows to text. It accepts a comma-separated list of shadows to be applied to the text and <code>text-decorations</code> of the element.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/text-shadow.yml'>Edit on GitHub</a>]</div>
