---
title: "CSS text-line-through-mode property"
description: ""
---
<h1 class='property-title'>text-line-through-mode</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/text-line-through-mode.yml'>Edit on GitHub</a>]</div>