---
title: "CSS text-decorations-in-effect property"
description: ""
---
<h1 class='property-title'>text-decorations-in-effect</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/text-decorations-in-effect.yml'>Edit on GitHub</a>]</div>
