---
title: "CSS text-indent property"
description: "The text-indent CSS property specifies how much horizontal space should be left before beginning of the first line of the text content of an element. Horizontal spacing is with respect to the left (or right, for right-to-left layout) edge of the containing block element's box."
---
<h1 class='property-title'>text-indent</h1>
<p class='property-description'>The<code> text-indent </code>CSS property specifies how much horizontal space should be left before beginning of the first line of the text content of an element. Horizontal spacing is with respect to the left (or right, for right-to-left layout) edge of the containing block element's box.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/text-indent.yml'>Edit on GitHub</a>]</div>
