---
title: text-decoration
description: The text-decoration CSS property is used to set the text formattings underline, overline, line-through and blink.
---
<h1 class='property-title'>text-decoration</h1>
<p class='property-description'>The<code> text-decoration </code>CSS property is used to set the text formattings <code>underline, overline, line-through</code> and <code>blink</code>.</p>