---
title: "CSS text-decoration-color property"
description: "The text-decoration-color CSS property sets the color used when drawing underlines, overlines, or strike-throughs specified by text-decoration-line. This is the preferred way to color these text decorations, rather than using combinations of other HTML&nbsp;elements."
---
<h1 class='property-title'>text-decoration-color</h1>
<p class='property-description'>The <code>text-decoration-color</code> CSS property sets the color used when drawing underlines, overlines, or strike-throughs specified by <code>text-decoration-line</code>
. This is the preferred way to color these text decorations, rather than using combinations of other HTML&nbsp;elements.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/text-decoration-color.yml'>Edit on GitHub</a>]</div>