---
title: "CSS text-stroke property"
description: ""
---
<h1 class='property-title'>text-stroke</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/text-stroke.yml'>Edit on GitHub</a>
</div>
