---
title: "CSS text-overflow-mode property"
description: ""
---
<h1 class='property-title'>text-overflow-mode</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/text-overflow-mode.yml'>Edit on GitHub</a>]</div>
