---
title: "CSS text-decoration-line property"
description: "The text-decoration-line CSS property sets what kind of line decorations are added to an element."
---
<h1 class='property-title'>text-decoration-line</h1>
<p class='property-description'>The <code>text-decoration-line</code> CSS property sets what kind of line decorations are added to an element.</p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/text-decoration-line.yml'>Edit on GitHub</a>]</div>
