---
title: "CSS text-fill-color property"
description: ""
---
<h1 class='property-title'>text-fill-color</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/text-fill-color.yml'>Edit on GitHub</a>]</div>
