---
title: CSS top property
description: "The top CSS property specifies part of the position of positioned elements. It has no effect on non-positioned elements."
---
<h1 class='property-title'>top</h1>
<p class='property-description'>The <code>top</code> CSS property specifies part of the position of positioned elements. It has no effect on non-positioned elements.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/top.yml'>Edit on GitHub</a>]</div>
