---
title: CSS transform-style property
description: The transform-style CSS property determines if the children of the element are positioned in the 3D-space or are flattened in the plane of the element.
---
<h1 class='property-title'>transform-style</h1>
<p class='property-description'>The <code>transform-style</code> CSS property determines if the children of the element are positioned in the 3D-space or are flattened in the plane of the element.</p>