---
title: "CSS transition-duration property"
description: "The transition-duration CSS property specifies the number of seconds or milliseconds a transition animation should take to complete. By default, the value is 0s, meaning that no animation will occur."
---
<h1 class='property-title'>transition-duration</h1>
<p class='property-description'>The<code> transition-duration </code>CSS property specifies the number of seconds or milliseconds a transition animation should take to complete. By default, the value is 0s, meaning that no animation will occur.</p>