---
title: CSS transition property
description: "The transition CSS property is a shorthand property for transition-property, transition-duration, transition-timing-function, and transition-delay."
---
<h1 class='property-title'>transition</h1>
<p class='property-description'>The<code> transition </code>CSS property is a shorthand property for <code>transition-property</code>, <code>transition-duration</code>, <code>transition-timing-function</code>, and <code>transition-delay</code>.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/transition.yml'>Edit on GitHub</a>]</div>
