---
title: CSS transition-property property
description: The transition-property CSS property is used to specify the names of CSS properties to which a transition effect should be applied.
---
<h1 class='property-title'>transition-property</h1>
<p class='property-description'>The <code>transition-property</code> CSS property is used to specify the names of CSS properties to which a transition effect should be applied.</p>