---
title: "CSS transform-origin-x property"
description: ""
---
<h1 class='property-title'>transform-origin-x</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/transform-origin-x.yml'>Edit on GitHub</a>]</div>
