---
title: "CSS transform-origin-y property"
description: ""
---
<h1 class='property-title'>transform-origin-y</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>[<a href='https://github.com/6/cssfast/blob/master/data/transform-origin-y.yml'>Edit on GitHub</a>]</div>
