---
title: "CSS transition-delay property"
description: "The transition-delay CSS property specifies the amount of time to wait between a change being requested to a property that is to be transitioned and the start of the transition effect."
---
<h1 class='property-title'>transition-delay</h1>
<p class='property-description'>The<code> transition-delay </code>CSS property specifies the amount of time to wait between a change being requested to a property that is to be transitioned and the start of the transition effect.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/transition-delay.yml'>Edit on GitHub</a>]</div>