---
title: "CSS unicode-bidi property"
description: ""
---
<h1 class='property-title'>unicode-bidi</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/unicode-bidi.yml'>Edit on GitHub</a>
</div>
