---
title: "CSS user-modify property"
description: ""
---
<h1 class='property-title'>user-modify</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/user-modify.yml'>Edit on GitHub</a>]</div>