---
title: "CSS user-drag property"
description: ""
---
<h1 class='property-title'>user-drag</h1>
<p class='property-description'></p>
<div class='edit-link-container hidden-for-mobile'>
  <a href='https://github.com/6/cssfast/blob/master/data/user-drag.yml'>Edit on GitHub</a>
</div>
