---
title: vertical-align
---
<h1 class='property-title'>vertical-align</h1>
<p class='property-description'>The <code>vertical-align</code> <a title="CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> property specifies the vertical alignment of an inline or table-cell element.</p>