---
title: CSS vertical-align property
description: The vertical-align CSS property specifies the vertical alignment of an inline or table-cell element.
---
<h1 class='property-title'>vertical-align</h1>
<p class='property-description'>The <code>vertical-align</code> CSS property specifies the vertical alignment of an inline or table-cell element.</p>