---
title: CSS visibility property
description: The visibility CSS property is used for two things:
---
<h1 class='property-title'>visibility</h1>
<p class='property-description'>The<code> visibility </code>CSS property is used for two things:</p>