---
title: "CSS white-space property"
description: "The white-space CSS property is used to to describe how whitespace inside the element is handled."
---
<h1 class='property-title'>white-space</h1>
<p class='property-description'>The<code> white-space </code>CSS property is used to to describe how whitespace inside the element is handled.</p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/white-space.yml'>Edit on GitHub</a>]</div>
