---
title: "CSS window-shadow property"
description: ""
---
<h1 class='property-title'>window-shadow</h1>
<p class='property-description'></p>
<div class='edit-link-container'>[<a href='https://github.com/6/cssfast/blob/master/data/window-shadow.yml'>Edit on GitHub</a>]</div>
