---
title: CSS word-spacing property
description: The word-spacing CSS property specifies spacing behavior between tags and words.
---
<h1 class='property-title'>word-spacing</h1>
<p class='property-description'>The<code> word-spacing </code>CSS property specifies spacing behavior between tags and words.</p>